h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 75%;
    margin: auto;
    margin-top: 1%;
    background-color: #2c2b36;
    font-size: 120%;
    color: white;
}
version {
    font-weight: bold;
    font-style: italic;
}
italic {
    font-style: italic;
}
#guides-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#guides-list li a {
    border: 1px solid;
    margin-top: -1px;
    background-color: #5b5968;
    font-size: 120%;
    padding: 1%;
    display: block;
    color: #d444de;    
}
#guides-list li a:hover:not(.header) {
    background-color: #d444de;
    color: #5b5968;
}