h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 75%;
    margin: 0 auto;
    margin-top: 1%;
    background-color: #2c2b36;
    font-size: 120%;
    color: white;
}
version {
    font-weight: bold;
    font-style: italic;
}
italic {
    font-style: italic;
}
#box-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#box-list li a {
    border: 1px solid;
    margin-top: -1px;
    background-color: #444452;
    font-size: 120%;
    padding: 1%;
    display: block;
    color: #d444de;
}
a {
    color: #d444de;  
}
#box-list li a:hover {
    background-color: #d444de;
    color: #5b5968;
} /*why must i do this*/
a:hover{
    background-color: #d444de;
    color: #5b5968;
}
h1 {
    background: url(images&others/header_bg.png) 0 0 no-repeat;
    background-size: 80%;
}
h4 {
    font-style: italic;
    font-weight: normal;
}
code_snippet{
    font-family: 'Times New Roman', Times, serif;
    background-color: #444452;
}
code_snippet:hover {
    color: #d444de;
}
box {
    border: 1px solid;
    margin-top: -1px;
    background-color: #444452;
    font-size: 120%;
    padding: 1%;
    display: block;
    color: #d444de;
    
}